{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Book List{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('management.addBook') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table>
<tr>
    <td>Book Name</td>
    <td>Writer</td>
    <td>Type</td>
    <td>Options</td>
</tr>

{% for book in books %}
<tr>
    <td>{{ book['name'] }}</td>
    <td>{{ book['writer'] }}</td>
    <td>{{ book['type'] }}</td>
    <td>
        <a class="action" href="{{ url_for('management.detailBook') }}">Detail</a>
        <a class="action" href="{{ url_for('management.borrowBook') }}">Borrow</a>
        <a class="action" href="{{ url_for('management.editBook') }}">Edit</a>
        <a class="action" href="{{ url_for('management.deleteBook') }}">Delete</a>
    </td>

</tr>
</table>
{% endfor %}

{% endblock %}